/* border style definition */
.RadSplitter_Default .resizeBar,
.RadSplitter_Default .slideContainerResize,
.RadSplitter_Default .slideContainerResizeHorizontal,
.RadSplitter_Default .resizeBarOver,
.RadSplitter_Default .slideContainerResizeOver,
.RadSplitter_Default .slideContainerResizeOverHorizontal,
.RadSplitter_Default .resizeBarInactive,
.RadSplitter_Default .resizeBarHorizontal,
.RadSplitter_Default .resizeBarOverHorizontal,
.RadSplitter_Default .resizeBarInactiveHorizontal,
.RadSplitter_Default .pane, 
.RadSplitter_Default .paneHorizontal
{
	border: 1px solid #383838;
}

.RadSplitter_Default
{
	border-collapse: collapse;
	border-bottom: 1px; /* half the size of the border, but at least 1px */
}

.RadSplitter_Default .pane, 
.RadSplitter_Default .paneHorizontal 
{
	padding: 0;
	text-align: left;
	background-color: #fff;
}

.RadSplitter_Default .resizeBar,
.RadSplitter_Default .slideContainerResize,
.RadSplitter_Default .slideContainerResizeHorizontal,
.RadSplitter_Default .resizeBarOver,
.RadSplitter_Default .slideContainerResizeOver,
.RadSplitter_Default .slideContainerResizeOverHorizontal,
.RadSplitter_Default .resizeBarInactive,
.RadSplitter_Default .resizeBarHorizontal,
.RadSplitter_Default .resizeBarOverHorizontal,
.RadSplitter_Default .resizeBarInactiveHorizontal
{
	padding: 0;
	background: #383838;
	font-size: 1px;
	text-align: center;
}

.RadSplitter_Default .resizeBarOverHorizontal
{
	background: #383838;
}


.RadSplitter_Default .resizeBar,
.RadSplitter_Default .resizeBarOver,
.RadSplitter_Default .resizeBarInactive,
.RadSplitter_Default .slideContainerResize,
.RadSplitter_Default .slideContainerResizeOver
{
	width: 4px;	
}

.RadSplitter_Default .resizeBarHorizontal,
.RadSplitter_Default .resizeBarOverHorizontal,
.RadSplitter_Default .resizeBarInactiveHorizontal,
.RadSplitter_Default .slideContainerResizeHorizontal,
.RadSplitter_Default .slideContainerResizeOverHorizontal
{
	height: 4px;
}


.RadSplitter_Default .resizeBarInactiveHorizontal.first
{
	border-top: 0;
}


.RadSplitter_Default .resizeBarOver, 
.RadSplitter_Default .resizeBarOverHorizontal,
.RadSplitter_Default .slideContainerResizeOver,
.RadSplitter_Default .slideContainerResizeOverHorizontal
{
	background: #383838;
}

/********************* Helper Bar ******************************/
.RadSplitter_Default .helperBarDrag, 
.RadSplitter_Default .helperBarDragHorizontal,
.RadSplitter_Default .helperBarSlideDrag,
.RadSplitter_Default .helperBarSlideDragHorizontal

{
	font-size: 1px;
	background-color:#ccc;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
	opacity: 0.6;
}

/* resize bar onerror */
.RadSplitter_Default .helperBarError, 
.RadSplitter_Default .helperBarSlideError,
.RadSplitter_Default .helperBarErrorHorizontal
{
	font-size: 1px;
	background-color: #f60;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
	opacity: 0.6;
}

/********************* Colapse Bar *****************************/

.RadSplitter_Default .resizeBarHorizontal
{	
	background: url(Img/splitbarBg.gif);
}

.RadSplitter_Default .resizeBar
{	
	background: url(Img/splitbarBgVertical.gif);
}

.RadSplitter_Default .collapseBarOver,
.RadSplitter_Default .collapseBarOverHorizontal
{
	background: white;
}

.RadSplitter_Default .collapseBarError, 
.RadSplitter_Default .collapseBarErrorHorizontal
{
	background-color: #f32800;
}


/***********************************************/
/*             SLIDE                           */
/***********************************************/

/************************************************
	sliding zone 
*/
.RadSplitter_Default .slideZone
{
	background: white;
}

/************************************************ 
	pane tabs 
*/
.RadSplitter_Default .tabsContainer
{
	color: #333;
}

.RadSplitter_Default .tabsContainer
{
	border-right: 1px solid #383838;
}

.RadSplitter_Default .tabsContainer.bottom
{
	border-bottom: 1px solid #383838;
	border-right: 0; 
}

.RadSplitter_Default .tabsContainer div
{
	overflow:hidden;
	cursor:default;
	text-align:center;
	font-size:1px;
	color: #383838;
	padding: 6px 0;
	width:21px;
	height:auto;
	border-bottom: 1px solid #313131;
}

.RadSplitter_Default .tabsContainer.bottom div
{
	border-right: 1px solid #313131;
	border-bottom: 0;
}

.RadSplitter_Default .tabsContainer .paneTabContainerExpanded,
.RadSplitter_Default .tabsContainer .paneTabContainerExpandedHorizontal
{
	background: #323232;
	color: #fff;
}

.RadSplitter_Default .paneTabContainerDocked,
.RadSplitter_Default .paneTabContainerDockedHorizontal
{
	background: #e4e4e4;
}

.RadSplitter_Default .paneTabText
{
	writing-mode: tb-rl;
	font:10px Arial;
	white-space:nowrap;
	margin:2px;
}

.RadSplitter_Default .paneTabIcon
{
	margin:2px;
}


/***** tabs on right position *******/

.RadSplitter_Default .tabsContainer .right
{
	background: url(Img/slideZoneBgRight.gif) repeat-y top right;
}


.RadSplitter_Default .right .paneTabContainer,
.RadSplitter_Default .right .paneTabContainerExpanded,
.RadSplitter_Default .right .paneTabContainerDocked
{
	border-left: solid 1px #c3c3c3;
	border-right: 0;
}


.RadSplitter_Default .right .paneTabContainerExpanded
{
	border-left: solid 1px #a8a8a8;
}

.RadSplitter_Default .right .paneTabContainerDocked
{
	border-left: solid 1px #8e8e8e;
}

/***** tabs on top position *******/

.RadSplitter_Default .tabsContainer .top
{
	background: url(Img/slideZoneBgTop.gif) repeat-x top;
}


.RadSplitter_Default .top .paneTabContainer,
.RadSplitter_Default .top .paneTabContainerExpanded,
.RadSplitter_Default .top .paneTabContainerDocked
{
	border-right: solid 1px #c3c3c3;
	border-top: solid 1px #c3c3c3;
	border-left: 0;
	border-bottom:0;
	float:left;
	padding: 0 6px;
	width:auto;
}


.RadSplitter_Default .top .paneTabContainerExpanded
{
	border-right: solid 1px #a8a8a8;
	border-bottom: solid 1px #a8a8a8;
}

.RadSplitter_Default .top .paneTabContainerDocked
{
	background: white url(Img/slideZoneDockedTabHorizontal.gif) repeat-x top;
	border-right: solid 1px #8e8e8e;
}

.RadSplitter_Default .top .paneTabText
{
	writing-mode: lr-tb;/* default */
}

.RadSplitter_Default .top .paneTabIcon
{
	display: block; 
	float: left
}

/***** tabs on bottom position *******/

.RadSplitter_Default .tabsContainer .bottom
{
	background: url(Img/slideZoneBgBottom.gif) repeat-x bottom;
}

.RadSplitter_Default .bottom .paneTabContainer,
.RadSplitter_Default .bottom .paneTabContainerExpanded,
.RadSplitter_Default .bottom .paneTabContainerDocked
{
	border-right: solid 1px #c3c3c3;
	border-left: 0;
	float:left;
	padding: 0 6px;
	width:auto;
}


.RadSplitter_Default .bottom .paneTabContainerExpanded
{
	border-right: solid 1px #a8a8a8;
	padding-bottom: 1px;
	border-bottom: 0;
}

.RadSplitter_Default .bottom .paneTabContainerDocked
{
	border-right: solid 1px #8e8e8e;
}

.RadSplitter_Default .bottom .paneTabText
{
	writing-mode: lr-tb;/* default */
}

.RadSplitter_Default .bottom .paneTabIcon
{
	display: block; 
	float: left
}

/*****  -- End tabs on bottom position *******/

/************************************************ 
	slide/dock containers 
*/
.RadSplitter_Default .slideContainer 
{
	border: 0;
	border-collapse: collapse;
}

.RadSplitter_Default .slideContainerDocked
{
	
}

.RadSplitter_Default .slideHeader, 
.RadSplitter_Default .slideHeaderDocked
{
	background: #f7f7f7 url(Img/slideHeader.gif) repeat-x top left;
	color: #fff;
	text-transform: uppercase;
}

.RadSplitter_Default .slideContainerResize,
.RadSplitter_Default .slideContainerResizeHorizontal
{ 
     background: #787878 none;
}

.RadSplitter_Default .slideContainerResizeOver,
.RadSplitter_Default .slideContainerResizeOverHorizontal
{
	background: #383838 none;
}

.RadSplitter_Default .slideContainerResize,
.RadSplitter_Default .slideContainerResizeOver
{
	border-top: 0;
	border-bottom: 0;
}

.RadSplitter_Default .slideContainerResizeHorizontal,
.RadSplitter_Default .slideContainerResizeOverHorizontal
{
	border-left: 0;
	border-right: 0;
}

.RadSplitter_Default .slideHeaderIcon
{
	margin: 1px 3px;
	border:0;
} 

.RadSplitter_Default .slideHeaderIconOver
{
	cursor: pointer;
	background: url(Img/IconHover.gif) no-repeat center center;
	margin: 1px 3px;
} 

.RadSplitter_Default .slideTitle, 
.RadSplitter_Default .slideTitleDocked 
{
	font:11px Arial;
	color: #fff;
	white-space:nowrap;
	margin-left:5px;
	margin-right:5px;
	text-align:left;
	line-height: 25px;
}

.RadSplitter_Default .slideTitleContainer
{
	background-color: #f7f7f7;
	background: url(Img/slideHeader.gif) repeat-x;
}

.RadSplitter_Default .slideContent, 
.RadSplitter_Default .slideContentDocked
{
	font: 10px Arial;
	color: black;
	background-color: white;
	padding: 5px;
	text-align: left;
}

.RadSplitter_Default .helperBarSlideDrag,
.RadSplitter_Default .slideContainerResize,
.RadSplitter_Default .slideContainerResizeOver
{
	cursor: w-resize;
}

.RadSplitter_Default .helperBarSlideDragHorizontal,
.RadSplitter_Default .slideContainerResizeHorizontal,
.RadSplitter_Default .slideContainerResizeOverHorizontal
{
	cursor: n-resize;
}

/*****************************************************************************/
/* these below are not skin/border size specific. Shared between all skins   */
/*****************************************************************************/
.nested,
.nestedHorizontal 
{
	border-width: 0 !important;
}

/************ nested vertical ****************/
.nested .pane, 
.nested .resizeBar,
.nested .resizeBarOver,
.nested .resizeBarInactive  
{
	border-top: 0 !important;
	border-bottom: 0 !important;
}

.nested .pane.firstItem,
.nested .resizeBar.firstItem,
.nested .resizeBarOver.firstItem,
.nested .resizeBarInactive.firstItem
{
	border-left: 0 !important;
}

.nested .pane.lastItem, 
.nested .resizeBar.lastItem,
.nested .resizeBarOver.lastItem,
.nested .resizeBarInactive.lastItem
{
	border-right: 0 !important;
}

.nested .pane.firstItem.lastItem, 
.nested .resizeBar.firstItem.lastItem,
.nested .resizeBarOver.firstItem.lastItem,
.nested .resizeBarInactive.firstItem.lastItem
{
	border-left: 0 !important;
	border-right: 0 !important;
}

/************ nested horizontal ****************/

.nestedHorizontal .paneHorizontal, 
.nestedHorizontal .resizeBarHorizontal,
.nestedHorizontal .resizeBarOverHorizontal,
.nestedHorizontal .resizeBarInactiveHorizontal
{
	border-left: 0 !important;
	border-right: 0 !important;
}

.nestedHorizontal .paneHorizontal.firstItem,
.nestedHorizontal .resizeBarHorizontal.firstItem,
.nestedHorizontal .resizeBarOverHorizontal.firstItem,
.nestedHorizontal .resizeBarInactiveHorizontal.firstItem
{
	border-top: 0 !important;
}

.nestedHorizontal .paneHorizontal.lastItem, 
.nestedHorizontal .resizeBarHorizontal.lastItem,
.nestedHorizontal .resizeBarOverHorizontal.lastItem,
.nestedHorizontal .resizeBarInactiveHorizontal.lastItem
{
	border-bottom: 0 !important;
}

.nestedHorizontal .paneHorizontal.firstItem.lastItem, 
.nestedHorizontal .resizeBarHorizontal.firstItem.lastItem,
.nestedHorizontal .resizeBarOverHorizontal.firstItem.lastItem,
.nestedHorizontal .resizeBarInactiveHorizontal.firstItem.lastItem
{
	border-top: 0 !important;
	border-bottom: 0 !important;
}
