/* Buttons */
#content .btn_fat_red, #content .btn_thin_red, #content .btn_thin_blue, #content .btn_fat_blue,
#content .btn_fat_red span, #content .btn_thin_red span, #content .btn_thin_blue span, #content .btn_fat_blue span {
    float: left;
    font-size: 16px;
}

#content .btn_fat_red {

}

#content .btn_thin_red {
    color: #ffffff;
    text-transform: uppercase;
    transition: padding .5s;
    -webkit-transition: padding .5s;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, .2); */
    /* margin-right: -33px; */
    background-color: rgb(64, 175, 164);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
    padding:10px;
}

#content .btn_fat_blue {
}

#content .btn_thin_blue {
    color: #ffffff;
    text-transform: uppercase;
    transition: padding .5s;
    -webkit-transition: padding .5s;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, .2); */
    /* margin-right: -33px; */
    background-color: rgb(64, 175, 164);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
    padding:10px;
}

#content .btn_fat_red span {
    color: #ffffff;
    text-transform: uppercase;
    transition: padding .5s;
    -webkit-transition: padding .5s;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, .2); */
    /* margin-right: -33px; */
    background-color: rgb(64, 175, 164);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
    padding:10px;
}

#content .btn_thin_red span {

}

#content .btn_fat_blue span {
    color: #ffffff;
    text-transform: uppercase;
    transition: padding .5s;
    -webkit-transition: padding .5s;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, .2); */
    /* margin-right: -33px; */
    background-color: rgb(64, 175, 164);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
    padding:10px;
}

#content .btn_thin_blue span {

}

#content .btn_fat_red span, #content .btn_fat_blue span {
    min-width: 63px;
    min-height: 57px;
    padding: 0px 32px;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
    transition: padding .5s;
    -webkit-transition: padding .5s;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, .2); */
    /* margin-right: -33px; */
    background-color: rgb(64, 175, 164);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
}
#content .btn_fat_red span, #content .btn_fat_blue span:hover {
    padding:5px 37px;
    transition: padding .5s;
    -webkit-transition: padding .5s;
}
#content .btn_thin_red span, #content .btn_thin_blue span {

    padding: 0px 15px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;



}

#content .btn_thin_blue span.sm,
#content .btn_thin_blue span.sm,
#content .btn_thin_blue span.sm,
#content .btn_thin_blue span.sm {
    font-size: 14px;
}

/* Button Holder, used when there is text to the left of one of our blue/red buttons */
#content .btn_holder {

    clear: both;
    float: left;
    width: 100%;
    margin-bottom:100px;

}

#content .btn_holder label {
    float: left;
    font-size: 16px;
    font-weight: normal;
    color: #424242;
    padding-top: 22px;
    margin: 0 15px 10px 0;
    line-height: 20px;
}

/* Media buttons (Play Audio, Play Video)*/
#content .mediabtn_long, #content .mediabtn_short1, #content .mediabtn_short2, #content .mediabtn_short3 {
    float: left;
    background: #E6E5E3;
    color: #fff;
    font-size: 16px;
    color: #616161;
    text-transform: uppercase;
    width: 948px;
    text-indent: 43px;
    text-decoration: none;
    line-height: 62px;
    height: 62px;
    position: relative;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: -30px;
    -webkit-border-radius-top: 0px 34px 34px 0px;
    -moz-border-radius: 0px 34px 34px 0px;
    border-radius: 0px 34px 34px 0px;
}

#content .mediabtn_long img, #content .mediabtn_short1 img, #content .mediabtn_short2 img, #content .mediabtn_short3 img {
    position: absolute;
    left: -36px;
    top: -8px;
}

#content .mediabtn_long span, #content .mediabtn_short1 span, #content .mediabtn_short2 span, #content .mediabtn_short3 span {
    float: right;
    background: rgb(208, 228, 227);
    width: 680px;
    color: #616161;
    text-transform: capitalize;
    padding: 20px 20px 18px 20px;
    text-indent: 0;
    line-height: 24px;
    min-height: 24px;
    /*-webkit-border-radius-top: 0px 34px 34px 0px;
    -moz-border-radius: 0px 34px 34px 0px;
    border-radius: 0px 34px 34px 0px;*/

}

#content .mediabtn_long abbr, #content .mediabtn_short1 abbr, #content .mediabtn_short2 abbr, #content .mediabtn_short3 abbr {

    line-height: 20px;

}

#content .mediabtn_short1 {
    width: 450px;
}

#content .mediabtn_short1 span {
    width: 240px;
    padding: 20px 0px 18px 10px;
-webkit-border-radius-top: 0px 34px 34px 0px;
    -moz-border-radius: 0px 34px 34px 0px;
    border-radius: 0px 34px 34px 0px;
}

#content .mediabtn_short2 {
    width: 450px;
}

#content .mediabtn_short2 span {
    width: 200px;
}

#content .mediabtn_short3 {
    width: 250px;
}

#content .mediabtn_long span.long, #content .mediabtn_short1 span.long, #content .mediabtn_short2 span.long, #content .mediabtn_short3 span.long {

    padding-top: 8px;
    padding-bottom: 6px;

}

#content div.media_holder {

    clear: both;
    display: none;
    float: left;
    margin-top: -30px;
    margin-left: 30px;
    margin-right: -100px;
    width: 948px;
    min-height: 25px;
    color: #333;
    margin-bottom: 30px;

}

#content div.mh_short1 {
    width: 450px;
}

#content div.mh_short2 {
    width: 450px;
}

#content div.mh_short3 {
    width: 250px;
}

#content div.audio_holder {
    display: block;
    visibility: hidden;
    margin-top: -25px
}

#content div.MISSING {
    display: block;
    visibility: visible;
    background: #f00;
}

#content div.media_holder div {
    font-family: genevaregular;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;

}