/* common.css Styles found throughout this stylesheet are necessary for the overall architecture found on every page */

/* Overall */

body, p, a, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, input, textarea, label, div, span, abbr {
    font-family: 'Prata', serif;
    outline: none;
}

img {

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;

}

html {
    height: 100%;
}

abbr {
    margin: 0px;
    padding: 0px;
    font-style: normal;
    line-height: inherit;
}

body {
    background: #FFFEFC;
    height: 100%;
}

#overall_wrapper {
    width: 1152px;
    margin: 0px auto;
    font-size: 18px;
    height: 100%;

}

#overall_wrapper .overall_inner {
    background: #FFFEFC;
    float: left;
    width: 100%;
    position: relative;
}

/* Header (Gold horizontal bar with three white iconic links, as well as the three primary links for the website */

#header {
    background: #009587;
    width: 100%;
    height: 95px;
    float: left;
}

#header h1 {
    float: left;
    margin-left: 85px;
}

#header ul {
    float: right;
    margin-top: 15px;
    margin-right: 85px;
}

#header li {

    float: left;
    padding: 7px;
    margin-bottom: -15px;
    height: 52px;
}

#header li:first-child {

}

#header li a.t1 {
    float: left;
    text-align: center;
    height: 73px;
    margin-top: -14px;
    padding: 7px 18px 0;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

#header li a.t1 img {
    margin-bottom: -5px;
    margin-top: -3px;
}

#header li a.t1:hover {

}

#header li.b_tools {
    position: relative;
}

/* Tools Subnav */

#header .b_tools dl {
    display: none;
    position: absolute;
    width: 230px;
    top: 73px;
    left: -68px;
    padding-top: 3px;
    transition: display .5s;
    -webkit-transition: display .5s;
}

#header .b_tools dt, #header .b_tools dd {

    float: left;
    padding-top: 5px;
    margin-right: 10px;

}

#header .b_tools dt a, #header .b_tools dd a {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

#header .b_tools:hover dl {
    display: block;
    transition: display .5s;
    -webkit-transition: display .5s;
}

/* Subnav1 - This is the first subnav found underneath the three primary website links */

#subnav1 {
    /*background: #fff url(/App_Images/bg_subnav1.png) no-repeat;*/
    width: 100%;
    height: 85px;
    float: left;
    margin: 10px 0px 0px;
    position: relative;
}

#subnav1 li {
    float: left;
    padding: 5px;
    padding-bottom: 17px;
    margin-top: 14px;
    margin-left: 9px;
    height: 38px;
}

#subnav1 li:hover {
    color: #141414;
    font-size: 19px;
    -webkit-transition: display .5s;
    transition: .5s;
}

#subnav1 li:hover dl {
    display: block;
    z-index: 2;
    -webkit-transition: display .5s;
    transition: .5s;
}

#subnav1 dl dt {
    border: 0px;
    margin-top: 12px;
    margin-bottom: 9px;
    float: left;
}

ul#subnav1 li:first-child {
    margin-left: 78px;
}

#subnav1 li a.t1:first-child {
    float: left;
    background-color: rgba(251, 251, 251, .1);
    /* text-transform: uppercase; */
    /* text-align: center; */
    color: #616161;
    font-size: 20px;
    padding: 10px 18px;
    width: auto;
    text-decoration: none;
    letter-spacing: 0px;
    transition: color .5s;
    /* font-weight: bold; */
    /* background-color: #009587; */
    /* box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12); */
    border-radius: 2px;
}

#subnav1 li a.t1:first-child:hover {
    transition: color, box-shadow .3s;
    color: #616161;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12)

}

#subnav1 dl {
    height: 42px;
    /* border-top: 1px solid #4a5059; */
    /* border-bottom: #3e3e3e; */
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -32px;
    background: #FFFEFC;
    z-index: 1;
    /* -webkit-box-shadow: inset 0px 12px 21px 0px rgba(0, 0, 0, 0.75); */
    -moz-box-shadow: inset 0px 12px 21px 0px rgba(0, 0, 0, 0.75);
    /* box-shadow: inset 0px 12px 21px 0px rgba(0, 0, 0, 0.75); */
    z-index: 1;
    display: none;
    -webkit-transition: opacity .5s; /* Safari */
    transition: opacity .5s;
}

#subnav1 dt:first-child {
    margin-left: 95px;
}

#subnav1 dl dt a.t2 {
    font-size: 16px;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); */
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    padding: 4px 30px;
    font-weight: bold;

}

#subnav1 dl dt a.t2 span {
    opacity: .3;
    -webkit-transition: opacity .5s; /* Safari */
    transition: opacity .5s;
}

#subnav1 dl dt a.t2:hover span {
    opacity: 1;
    -webkit-transition: opacity .5s; /* Safari */
    transition: opacity .5s;
}

#subnav1 dl dt:first-child {

}

#subnav1 dl dt:first-child a.t2 {

}

#subnav1 dl dt:last-child {

}

#subnav1 dl dt:last-child a.t2 {

}

/* Subnav2 - This is the second subnav found specifically in the "Types of Play" section */
#subnav2 {
    width: 100%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}

#subnav2 dl {
    margin: 32px 0px 0px 0px;
    height: 48px;
    border-top: 1px solid #D2D2D2;
    border-bottom: #3e3e3e;
    float: left;
    width: 85%;
    /* background: #3e3f41; */
    z-index: 1;
    /* -webkit-box-shadow: inset 0px 12px 21px 0px rgba(0, 0, 0, 0.25); */
    -moz-box-shadow: inset 0px 12px 21px 0px rgba(0, 0, 0, 0.25);
    /* box-shadow: inset 0px 12px 21px 0px rgba(0, 0, 0, 0.25); */
    display: none;
    margin-left: 86px;
}

#subnav2 dl dt, #subnav2 dl dd {
    border: 0px;
    margin-top: 12px;
    float: left;
    position: relative;
}

#subnav2 dt:first-child {
    margin-left: 0px;
}

#subnav2 dl dt a {
    font-size: 14px;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); */
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    padding: 4px 54px 4px 40px;
    opacity: .3;
    background: url(/App_Images/ico_arrow_right_white.png) no-repeat right 8px;

}

#subnav2 dl dt a.chal {
    background: none;
    padding-left: 10px;
    padding-right: 10px;
}

#subnav2 dl dt a:hover {
    opacity: 1;
}

#subnav2 dl dd {

    /* height: 30px;
     background: url(/App_Images/ico_arrow_right_white.png) no-repeat left 8px;
     padding-left: 40px;
        */

}

/* Footer Section - Page specific content is found here */

#content {

    float: left;
    margin-top: 63px;
    padding: 0px 95px;
    position: relative;

}

/* Footer Section (secondary links and graphic) */
#footer {
    width: 100%;
    height: 232px;
    float: left;
    position: relative;

}

#footer li {
    float: left;
}

#footer li a {
    float: left;
    margin-top: 29px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;

}

#footer li.line {

    position: absolute;
    top: 75px;
    left: 85px;

}

#footer li.line a {
    text-transform: none;
    border: 0;
    margin-top: 0px;

}

#footer li.line a span {
    text-decoration: underline;
}

#footer li a:hover {
    text-decoration: underline;
}

#footer li:first-child a {
    margin-left: 75px;
}

#footer li.line a:hover {
    text-decoration: none;
}

/* Page Specific Items - these are things that we need to do if we are on a specific page, for instance highlighting a button  */

/* Top Gold Buttons highlight */
.pg_welcome #header li.b_home a,
.pg_troubleshooting #header li.b_troubleshooting a,
.pg_tools #header li.b_tools a {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 2px;
}

.pg_tools #header li.b_tools dl a {

    background: none;

}

.pg_tools #header .b_tools dl {
    display: block;
}

/* Showing a specific Subnav1 */

.pg_steps #subnav1 li.li_steps,
.pg_types #subnav1 li.li_types,
.pg_yourft #subnav1 li.li_yourft {
    background: #FFFEFC;
    padding: 4px;
    padding-bottom: 17px;
    border-bottom: 0px;

}

.pg_steps #subnav1 li.li_steps dl,
.pg_types #subnav1 li.li_types dl,
.pg_yourft #subnav1 li.li_yourft dl {
    display: block;
}

/* Making room for above mentioned subnav */
.pg_steps #content,
.pg_types #content,
.pg_yourft #content {
    margin-top: 45px;
    margin-bottom: 75px;
}

/* Highlighting a specific Subnav1 item */

.sect_2_1 #subnav1 dl dt.b_2_1 a.t2 span,
.sect_2_2 #subnav1 dl dt.b_2_2 a.t2 span,
.sect_2_3 #subnav1 dl dt.b_2_3 a.t2 span,
.sect_3_1 #subnav1 dl dt.b_3_1 a.t2 span,
.sect_3_2 #subnav1 dl dt.b_3_2 a.t2 span,
.sect_3_3 #subnav1 dl dt.b_3_3 a.t2 span,
.sect_4_1 #subnav1 dl dt.b_4_1 a.t2 span,
.sect_4_2 #subnav1 dl dt.b_4_2 a.t2 span {
    opacity: 1;
}

/* Highlighting and turning on specific Subnav2 items */
.sect_3_1 #subnav2 dl.dl_sect_3_1,
.sect_3_2 #subnav2 dl.dl_sect_3_2,
.sect_3_3 #subnav2 dl.dl_sect_3_3 {
    display: block;
    margin-bottom: -32px
}

.sect_follow #subnav2 dd {
    display: none;
    opacity: .3;
    cursor: not-allowed
}

.sect_follow #subnav2 dd .dropdown {
    display: none;
    opacity: .3;
    cursor: not-allowed
}

/**/
.sect_follow #subnav2 dt a {
    opacity: 1;
}

.sect_follow #subnav2 dt a.chal {
    opacity: .3;
}

.sect_challenge #subnav2 dt a.chal {
    opacity: 1;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 75%;
    height: 83%;
    position: relative;
    margin: 1% auto;
    padding: 41px 29px 85px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);

}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.orange-band {
    padding-top: 22px;
    height: 125px;
    background-color: #009587;
    overflow: hidden;
    zoom: 1;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.orange-band-footer {
    overflow: auto;
    height: 100%;
    background-color: #009587;
    width: 100%;
}