/* h1: Normal white header with blue bar background, (<em>) turns it into Times Roman, <label> gives transparent version with stroke @ font size 48*/
#content h1 {
    clear: both;
    font-size: 50px;
    padding: 5px 95px 0px;
    margin: 0px -95px 29px;
    color: #616161;
    /* font-weight: bold; */
    letter-spacing: 2px;
}

#content h1 span {
    font-family: 'Prata', serif;
}

#content h1 label {

    /* WebKit (Safari/Chrome) Only
      -webkit-text-stroke: 1px #bacaf2;*/

    /* If we weren't using text-shadow, we'd set a fallback color
       and use this to set color instead
      -webkit-text-fill-color: white; */

}

#content h1.tall {


}

/* h2: Smaller heading @ font size 28*/
#content h2 {
    clear: both;
    font-size: 25px;
    /* font-weight: bold; */
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: #616161;
    line-height: 25px;
}

/* Gray heading */
#content h2.h2_gray {
    clear: both;
    color: #616161;
    margin: -30px -95px 30px;
    padding: 22px 123px;
    font-size: 23px;
    /* font-weight: bold; */
    font-style: italic;
    /* background: #e5e5e5; */
}

#content h2.h2_gray2 {
    clear: both;
    margin: 0px -95px 30px;
    /* font-weight: bold; */
    letter-spacing: 2px;
    padding: 12px 95px 2px 125px;
    /* background: #333; */
    color: #999;
    /* text-transform: uppercase; */
    font-style: normal;
    font-size: 25px;
}

/* h3: Smaller heading @ font size 22*/
#content h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

/* h4: Smaller heading @ font size 32, used basically in Troubleshooting and Tools sections*/
#content h4 {
    clear: both;
    font-size: 32px;
    font-weight: normal;
    margin: 0px -95px 30px;
    padding: 4px 85px;
    color: #616161;
    /* background: #2e2e2e; */
    border-bottom: #D4CCCC dotted 1px;
}

#content h4 a {
    float: right;
    color: #616161;
    font-size: 16px;
    text-transform: uppercase;
    background: url(/App_Images/ico_arrow_up_white.png) no-repeat right 10px;
    padding-right: 20px;
    text-decoration: none;
    padding-top: 9px;

}

#content h4 abbr.vocab {

}

/* h5: Smaller heading @ font size 28, used basically in Troubleshooting and Tools sections*/
#content h5 {
    clear: both;
    font-size: 28px;
    font-weight: bold;
    margin: 0px -95px 10px;
    padding: 0px 95px;
}

/* h6: Welcome text on welcome page, white CAPS @ font size 36*/
#content h6 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: -3px;
    color: #616161;
}

/* Normal Text */
#content p, #content li, #content strong {
    font-size: 16px;
    /* font-weight: bold; */
    color: #4C4C4C;
    line-height: 24px;
    letter-spacing: 1px;
}

#content p {
    margin-bottom: 30px;
}

#content li a,
#content p a {
    color: #134674
}

#content .p {
    font-size: 15px;
    /* font-weight: bold; */
    color: #4C4C4C;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

#content li {
    margin-bottom: 15px;
}

#content ul {
    clear: both;
    margin-bottom: 30px;
    margin-left: 44px;
    margin-right: 0px;
    margin-top: 74px;
}

}

/* Font Colors - can be applied to any text */
#content .c_white {
    color: #616161;

}

#content .c_blue {
    color: #4C4C4C;
}

#content .c_dblue {
    color: #4C4C4C;
}

#content .c_dgray {
    color: #2e2e2e;
}

/* Font Styles - can be applied to any text */
#content .s_normal {
    font-weight: normal;
}

#content .s_bold {
    padding: 0px;
    letter-spacing: 2px;
}

#content .s_u {
    text-decoration: underline;
}

/* List Styles */
#content ul.star_green_lg li, #content ul.star_blue_lg li, #content ul.star_gray_lg li {

    min-height: 48px;
    padding-left: 58px;
    padding-top: 9px;

}

#content ul.star_green_lg li {
    background: url(/App_Images/ico_bullet_lg_greenstar.png) left top no-repeat;
}

#content ul.star_blue_lg li {
    background: url(/App_Images/ico_bullet_lg_bluestar.png) left top no-repeat;
}

#content ul.star_gray_lg li {
    background: url(/App_Images/ico_bullet_lg_graystar.png) left top no-repeat;
}

#content ul.star_green_med li, #content ul.star_blue_med li, #content ul.star_gray_med li {

    min-height: 36px;
    padding-left: 46px;
    padding-top: 4px;

}

#content ul.star_green_med li {
    background: url(/App_Images/ico_bullet_med_greenstar.png) left top no-repeat;
}

#content ul.star_blue_med li {
    background: url(/App_Images/ico_bullet_med_bluestar.png) left top no-repeat;
}

#content ul.star_gray_med li {
    background: url(/App_Images/ico_bullet_med_graystar.png) left top no-repeat;
}

#content ul.star_green_sm li, #content ul.star_blue_sm li, #content ul.star_gray_sm li {

    min-height: 26px;
    padding-left: 38px;
    padding-top: 1px;

}

#content ul.star_green_sm li {
    background: url(/App_Images/ico_bullet_sm_greenstar.png) left top no-repeat;
}

#content ul.star_blue_sm li {
    font-size: 16px;
    background: url(/App_Images/ico_bullet_sm_bluestar.png) left top no-repeat;
}

#content ul.star_gray_sm li {
    background: url(/App_Images/ico_bullet_sm_graystar.png) left top no-repeat;
}

/* Unordered list for bullets with numbers in them */
#content ol.ol_gray li, #content ol.ol_blue li {

    min-height: 48px;
    padding-left: 58px;
    padding-top: 9px;
    color: inherit;
    position: relative;

}

#content ol.ol_gray li {
    background: url(/App_Images/ico_bullet_lg_gray.png) left top no-repeat;
}

#content ol.ol_blue li {
    background: url(/App_Images/ico_bullet_lg_blue.png) left top no-repeat;
}

#content ol.ol_gray span.num, #content ol.ol_blue span.num {
    position: absolute;
    top: 12px;
    color: #fff;
    left: 16px;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, .4); */
    font-size: 13.5px;
    text-align: center;
    padding: 2px;
}

#content ol.ol_gray a, #content ol.ol_blue a {

    color: inherit;

}

/* Various Margins*/
#content .margR18 {
    margin-right: 18px
}

/* Various small instruction blurbs*/
#content .instruction {

    text-indent: 30px;
    font-size: 14px;
    margin-bottom: 5px;

}

/* Glossary */
#content abbr.vocab {
    text-indent: 0;
    background: rgba(0, 0, 0, 0.1);
    margin: -2px 0;
    position: relative;
    display: inline-block;
    line-height: normal;
    padding: 0px 0;
    z-index: 3;
    color: #616161;
}

#content abbr.vocab:hover {
    z-index: 5;
}

#content abbr.vocab .definitionbox {
    position: absolute;
    bottom: 10px;
    left: 20%;
    font: 14px arial;
    color: #636974;
    background: #fefed5 url(/App_Images/bg_definitionbox.gif) no-repeat top right;
    border: 1px solid #c5c5c5;
    width: 280px;
    padding: 10px;
    padding-top: 30px;
    display: none;
}

#content abbr.vocab:hover {
    cursor: pointer;
}

#content abbr.vocab:hover .definitionbox {
    display: block;
}

#content abbr.vocab .definitionbox abbr.glossary {
    display: none;
    float: right;
    width: 280px;
    text-align: right;
    font: 11px arial;
    color: #828790;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#content abbr.vocab .definitionbox abbr.definition {
    float: left;
    width: 280px;
    font: 14px arial;
    color: #636974;
}

#content abbr.vocab .definitionbox abbr.definition a {
    color: #83477f;
}